// ==========================================================================
// Footer
// ==========================================================================

.site-footer {
  text-align: center;
  color: $color-footer--color;
  text-shadow: 0 1px 1px rgba($color-text--color, 0.25);

  @include breakpoint(l) {
    text-align: left;
  }
}

// -------------------------------------
//  Footer Primary
// -------------------------------------

.site-footer--primary {
  display: inline-block;

  @include breakpoint(l) {
    float: left;
    display: block;
  }
}

.site-footer--copyright {
  display: inline-block;
  margin-right: 5px;
}

.site-footer--feed {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 0;

  &:hover,
  &:focus {

    .icon-rss--background {
      opacity: 1;
    }

    .icon-rss--foreground {
      fill: #ff6600;
    }
  }

  .icon-rss {
    width: inherit;
    height: inherit;
  }

  .icon-rss--background {
    fill: $white;
    opacity: 0;
    transition: opacity 0.2s;
    backface-visibility: hidden;
  }

  .icon-rss--foreground {
    fill: $color-footer--color;
    transition: fill 0.2s;
    backface-visibility: hidden;
  }
}
