// ==========================================================================
// Header
// ==========================================================================

.site-header--outer {
  padding: 6% 6% 0;
}

.site-header--inner {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.site-header--primary,
.site-header--secondary {
  display: table-cell;
  vertical-align: middle;
}

// -------------------------------------
//  Primary
// -------------------------------------

.site-header--primary {
  width: 100px;

  @include breakpoint(s) {
    width: 20%;
  }

  @include breakpoint(m) {
    width: 16%;
  }

  @include breakpoint(l) {
    width: 12%;
  }
}

.site-logo {
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-name: bounceIn;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  70% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}
