// ==========================================================================
// Secondary
// ==========================================================================

.secondary {
  background-color: $color-secondary;

  @include breakpoint(l) {
    background-color: inherit;
  }
}

.secondary-photo {
  display: block;
  margin: 0 auto 6%;
  width: 75%;

  @include breakpoint(s) {
    float: right;
    margin: 0 0 3% 3%;
    width: 150px;
  }

  @include breakpoint(l) {
    margin: 0 0 6%;
    width: 100%;
  }
}

.secondary--icons {
  text-align: center;
}

.secondary--icons__anchor {
  display: block;
  color: inherit;

  .icon {
    width: 30px;
    height: 30px;
    transition: transform 0.2s;
    backface-visibility: hidden;
  }

  .icon-foreground {
    fill: $color-link--color;
  }

  .secondary--icons--title {
    @extend %font-open-sans-semibold;
    font-size: 85%;
    display: block;
    opacity: 0;
    transition: opacity 0.2s;
    backface-visibility: hidden;
  }

  &:hover,
  &:focus {
    color: inherit;

    .icon-twitter--foreground {
      fill: $color-twitter;
    }
    .icon-github--foreground {
      fill: $color-github;
    }
    .icon-linkedin--foreground {
      fill: $color-linkedin;
    }

    .icon {
      transform: scale(1.2);
    }

    .secondary--icons--title {
      opacity: 1;
    }
  }
}
