        </div>

        <aside class="secondary vcard author clearfix" role="complementary">
          <img alt="A photo of Ivan Lagunov" class="secondary-photo media-circle photo" src="/img/ivan-lagunov.jpg">
          <p>Hi, I’m <strong class="fn">Ivan Lagunov</strong> and I’m a <strong>Software Engineer</strong>. Learn more <a href="/about/" class="url">about me</a>.</p>
          <p>Please don’t hesitate to <a href="mailto:lagivan@gmail.com" class="email">contact me</a> with any comments, questions, or just to say hello!</p>
          <a class="secondary-twitter--link" href="http://twitter.com/lagivan"><span class="secondary-twitter--icon">{% include icons/icon-twitter.svg %}</span>Follow me on Twitter</a>
        </aside>
      </div>

      <footer id="colophon" class="site-footer clearfix" role="contentinfo">
        <div class="site-footer--secondary">
          <ul class="site-footer--icons list-inline">
            <li class="site-footer--icons__item">
              <a class="site-footer--icons__anchor site-footer--icons__icon" href="http://twitter.com/lagivan">
                {% include icons/icon-twitter.svg %}
                <span class="site-footer--icons--title">Twitter</span>
              </a>
            </li>
            <li class="site-footer--icons__item">
              <a class="site-footer--icons__anchor site-footer--icons__icon" href="http://github.com/lagivan">
                {% include icons/icon-github.svg %}
                <span class="site-footer--icons--title">GitHub</span>
              </a>
            </li>
            <li class="site-footer--icons__item">
              <a class="site-footer--icons__anchor site-footer--icons__icon" href="http://www.linkedin.com/in/lagivan">
                {% include icons/icon-linkedin.svg %}
                <span class="site-footer--icons--title">LinkedIn</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="site-footer--primary clearfix">
          <p class="site-footer--copyright">&copy; {{ site.time | date: "%Y" }} Ivan Lagunov. All rights reserved.</p>
          <a class="site-footer--feed" href="/atom.xml" title="Subscribe to my RSS feed">
            {% include icons/icon-rss.svg %}
            <span class="visuallyhidden">RSS Feed</span>
          </a>
      </footer>
    </div>

    <!-- build:js(app) /js/scripts.js -->
    <script src="/js/scripts.js"></script>
    <!-- endbuild -->

  </body>
</html>
