<header class="site-header--outer" role="banner">
  <div class="site-header--inner">
    <div class="site-header--primary">
      <a class="site-logo FlexEmbed" href="/">
        <img src="/assets/images/logo.png" alt="logo">
      </a>
    </div>
    <div class="site-header--secondary">
      <nav class="main-navigation" role="navigation">
        <ul class="main-navigation--list list-inline">
          <li>
            <a class="nav-home" href="/">Home</a>
          </li>
          <li>
            <a class="nav-blog" href="https://blog.ivanlagunov.com">Blog</a>
          </li>
          <li>
            <a class="nav-about" href="/about/">About</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
