<aside class="secondary vcard author clearfix" role="complementary">
  <img alt="Ivan Lagunov" class="secondary-photo srcset-secondary media-circle photo" src="/assets/images/profile.jpg">
  <p>Hello! I'm <strong>Ivan Lagunov</strong>, currently working as the <strong>Head of R&D at ZNAPZ</strong>. Learn more <a href="/about/">about me</a>.</p>
  <p>Please don't hesitate to <a href="/contact/">contact me</a> with any comments, questions, or follow me on:</p>
  <ul class="secondary--icons list-inline">
    <li class="secondary--icons__item">
      <a class="secondary--icons__anchor secondary--icons__icon" href="https://twitter.com/lagivan">
        {{ partial "svg" "twitter" }}
        <span class="secondary--icons--title">Twitter</span>
      </a>
    </li>
    <li class="secondary--icons__item">
      <a class="secondary--icons__anchor secondary--icons__icon" href="https://www.linkedin.com/in/lagivan">
        {{ partial "svg" "linkedin" }}
        <span class="secondary--icons--title">LinkedIn</span>
      </a>
    </li>
    <li class="secondary--icons__item">
      <a class="secondary--icons__anchor secondary--icons__icon" href="https://github.com/lagivan">
        {{ partial "svg" "github" }}
        <span class="secondary--icons--title">GitHub</span>
      </a>
    </li>
  </ul>
</aside>