<aside class="secondary vcard author clearfix" role="complementary">
  <img alt="Ivan Lagunov" class="secondary-photo srcset-secondary media-circle photo" src="/assets/images/profile.jpg">
  <p>Hi, I’m <strong class="fn">Ivan Lagunov</strong> and I’m a <strong>Senior IT Consultant</strong> and <strong>R&D Team Lead</strong>. Learn more <a href="/about/" class="url">about me</a>.</p>
  <p>Please don't hesitate to <a href="mailto:lagivan@gmail.com" class="email">contact me</a> with any comments, questions, or just to say hello!</p>
  <a class="secondary-twitter--link" href="https://twitter.com/lagivan"><span class="secondary-twitter--icon">{{ partial "svg" "twitter" }}</span>Follow me on Twitter</a>
</aside>